@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --default-color: #52565e;
}


body {
  font-family: "Open sans", sans-serif;
}

.text-primary {
  color: var(--default-color);
}

.border-02 {
  border: 0.1px solid rgba(var(--default-color), 0.6);
}
